# Gradle
.gradle/
build/
**/build/
.gradletasknamecache
gradle-app.setting

# IDEs
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.bin/
.nb-gradle/

# Secrets & Local Config
.env
**/.env
.env.*
! .env.example

# App-Specific (LangChain4j / Vector DBs)
chroma_data/
**/chroma_data/

# OS spezifisch
.DS_Store
Thumbs.db